body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #3078b0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    width: fit-content;
    border: 2px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px;
    background-color: #012f85;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact {
    text-align: center;
}

#about {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.about-image, .about-text {
    flex: 1 1 100%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: adds rounded corners to the image */
}

section h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #77d0f0;
    color: #fff;
    width: 100%;
    bottom: 0;
}

footer > p {
    color: black;
}

#services > h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item {
    position: relative;
    width: 45%;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}

.service-item img {
    width: 100%;
    height: auto;
    display: block;
}

.service-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.service-info h3, .service-info p {
    margin: 10px 0;
}

.service-item:hover {
    transform: scale(1.05);
}

.service-item:hover .service-info {
    opacity: 1;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(20% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}

.team-member h3 {
    margin: 10px 0 5px;
}

.team-member p {
    margin: 5px 0 10px;
    color: #666;
}

.about-image > img {
    height: 30vh;
}
.team-member:hover {
    transform: scale(1.05);
}




@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    
    .about-image{
        height: 5rem;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
    }
    
    nav ul.active {
        display: flex;
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    #about {
        flex-direction: column;
    }

    .service-item {
        width: 100%;
    }

    .team-member {
        flex: 1 1 100%;
    }
}
